{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "jest"
  ],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "ignorePatterns": ["build/**"],

  "env": {
    "jest/globals": true
  },

  "rules": {
    // ***** Imports *****
    "@typescript-eslint/no-restricted-imports": ["error", {
      "patterns": [{
        "group": ["node:*"],
        "message": "Don't use prefixes with Node.js built-ins."
      }]
    }],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",

    // Require explicit return types on functions and class methods.
    "@typescript-eslint/explicit-function-return-type": "error",

    // ***** Promises *****
    // Disallow awaiting a value that is not a Thenable.
    "@typescript-eslint/await-thenable": "error",
    // Disallow async functions which have no `await` expression.
    "@typescript-eslint/require-await": "error",
    // Enforce consistent returning of awaited values.
    "@typescript-eslint/return-await": "error",
    // Require Promise-like statements to be handled appropriately.
    "@typescript-eslint/no-floating-promises": ["error"],
    // Require any function or method that returns a Promise to be marked async.
    "@typescript-eslint/promise-function-async": ["error"],

    "@typescript-eslint/prefer-readonly": "error"
  }
}
