{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "jest"
  ],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "ignorePatterns": ["build/**"],

  "env": {
    "jest/globals": true
  },

  "rules": {
    "@typescript-eslint/no-restricted-imports": ["error", {
      "patterns": [{
        "group": ["node:*"],
        "message": "Don't use prefixes with Node.js built-ins."
      }]
    }],
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/return-await": "error",
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/prefer-readonly": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error"
  }
}
