site_name: igir
# https://github.com/mkdocs/mkdocs/issues/1783: site_url required for sitemap.xml
site_url: https://igir.io
site_author: Christian Emmer
# site_description: TODO

repo_name: emmercm/igir
repo_url: https://github.com/emmercm/igir
edit_uri: edit/main/docs/

remote_branch: gh-pages

theme:
  logo: logo-light.svg
  favicon: logo-dark.svg
  name: material

  palette:
    scheme: slate
    primary: black

  icon:
    repo: fontawesome/brands/github

  features:
    - search.suggest
    - search.highlight
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.sections
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.footer
    - toc.follow
    - toc.integrate
    - content.action.edit
    - content.code.copy
    - content.tabs.link

nav:
  - Documentation:
      - index.md
      - Getting Started:
        - overview.md
        - installation.md
        - commands.md
        - alternatives.md
      - Example Usage:
          - usage/collection-sorting.md
          - Emulator Frontends:
            - usage/desktop/batocera.md
            - usage/desktop/emuelec.md
            - usage/desktop/emulationstation.md
            - usage/desktop/lakka.md
            - usage/desktop/launchbox.md
            - usage/handheld/onionos.md
            - usage/desktop/openemu.md
            - usage/desktop/recalbox.md
            - usage/desktop/retroarch.md
            - usage/desktop/retropie.md
          - FPGA:
            - usage/hardware/mister.md
            - usage/hardware/analogue-pocket.md
          - Flash Carts:
            - usage/hardware/everdrive.md
          - Game Consoles:
            - usage/console/gamecube.md
            - usage/console/ps2.md
          - usage/arcade.md
          - usage/personal.md
      - File Inputs:
          - input/file-scanning.md
          - input/dats.md
          - input/reading-archives.md
      - ROM Processing:
          - roms/filtering-preferences.md
          - roms/headers.md
          - roms/patching.md
      - File Outputs:
          - output/writing-archives.md
          - output/tokens.md
          - output/reporting.md
          - output/cleaning.md
      - Advanced:
          - internals.md
      - Misc:
          - rom-dumping.md
      - Terms and Conditions:
          - contributing.md
          - license.md
  # https://github.com/squidfunk/mkdocs-material/issues/889#issuecomment-582297142: how-to open nav links in new tabs
  - Download ↗: https://github.com/emmercm/igir/releases/latest" target="_blank
  - Issues ↗: https://github.com/emmercm/igir/issues?q=is%3Aopen+is%3Aissue+label%3Abug" target="_blank
  - Discuss ↗: https://github.com/emmercm/igir/discussions" target="_blank

plugins:
  - search:
      lang: en
  - exclude-search:
      exclude:
        - index.md
      exclude_unreferenced: true
  - social
  - git-revision-date-localized:
      enable_creation_date: false
  - redirects:
      redirect_maps:
        'archives.md': 'input/reading-archives.md'
        'dats.md': 'input/dats.md'
        'examples.md': 'usage/collection-sorting.md'
        'file-scanning.md': 'input/file-scanning.md'
        'input/archives.md': 'input/reading-archives.md'
        'reporting.md': 'output/reporting.md'
        'rom-filtering.md': 'roms/filtering-preferences.md'
        'rom-headers.md': 'roms/headers.md'
        'rom-patching.md': 'roms/patching.md'
  #- htmlproofer:
  #    raise_error_excludes:
  #      '-1': [ 'http://www.logiqx.com' ]
  #      429: https://romulus.cc/

markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  # https://squidfunk.github.io/mkdocs-material/reference/content-tabs/
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  # https://github.com/mkdocs/mkdocs/issues/545: allow two-space indented lists
  - mdx_truly_sane_lists
  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  analytics:
    provider: google
    property: G-GX1E7CQ1L7

  social:
    - icon: simple/github
      link: https://github.com/emmercm/igir
    - icon: simple/npm
      link: https://www.npmjs.com/package/igir
    - icon: simple/twitter
      link: https://twitter.com/emmercm
