mkdocs==1.5.3
mkdocs-material==9.5.11

mkdocs-exclude-search==0.6.6
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-htmlproofer-plugin==1.0.0
mkdocs-redirects==1.2.1
mkdocs-unused-files==0.2.0
mdx-truly-sane-lists==1.3

# Requires:
# macOS:
#   brew install cairo
#   sudo ln -s /opt/homebrew/Cellar/cairo/*/lib/libcairo.2.dylib /usr/local/lib/
# Linux: sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
Pillow==10.2.0
CairoSVG==2.7.1
