name: Compile Node.js

on:
  pull_request:
    types:
      - opened
      - synchronize  # HEAD has changed, e.g. a push happened
      - reopened
  release:
    types:
      - published

jobs:
  node-compile:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
            build: |
              NPM_PKG_VERSION=$(npm pkg get version | sed 's/"//g')
              NODE_ARCH=$(node --print 'process.arch')
              BIN_OUTPUT="igir-${NPM_PKG_VERSION}-${RUNNER_OS}-${NODE_ARCH}.tar.gz"
              echo "BIN_OUTPUT=${BIN_OUTPUT}" >> $GITHUB_ENV
              cp package.json build/
              ./node_modules/.bin/caxa --input build/ --output igir -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/index.js"
              ./igir --help
              tar cvf - igir | gzip --best > "${BIN_OUTPUT}"
          - os: macos
            build: |
              NPM_PKG_VERSION=$(npm pkg get version | sed 's/"//g')
              NODE_ARCH=$(node --print 'process.arch')
              BIN_OUTPUT="igir-${NPM_PKG_VERSION}-${RUNNER_OS}-${NODE_ARCH}.tar.gz"
              echo "BIN_OUTPUT=${BIN_OUTPUT}" >> $GITHUB_ENV
              cp package.json build/
              ./node_modules/.bin/caxa --input build/ --output igir -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/index.js"
              ./igir --help
              tar cvf - igir | gzip --best > "${BIN_OUTPUT}"
          - os: windows
            build: |
              $NPM_PKG_VERSION=$(npm pkg get version).replace('"','')
              $NODE_ARCH=$(node --print 'process.arch')
              $BIN_OUTPUT="igir-$NPM_PKG_VERSION-${env:RUNNER_OS}-${NODE_ARCH}.zip"
              echo "BIN_OUTPUT=${BIN_OUTPUT}" | Out-File -FilePath $env:GITHUB_ENV -Append # no need for -Encoding utf8
              copy package.json build\
              .\node_modules\.bin\caxa --input build\ --output igir.exe -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/index.js"
              .\igir.exe --help
              Compress-Archive -Path igir.exe -DestinationPath "${BIN_OUTPUT}" -CompressionLevel Optimal -Force
          # https://github.com/leafac/caxa/issues/24#issuecomment-999018669
          - os: ubuntu
            build: |
              NPM_PKG_VERSION=$(npm pkg get version | sed 's/"//g')
              NODE_ARCH=armv7
              BIN_OUTPUT="igir-${NPM_PKG_VERSION}-${RUNNER_OS}-${NODE_ARCH}.tar.gz"
              echo "BIN_OUTPUT=${BIN_OUTPUT}" >> $GITHUB_ENV
              cp package.json build/
              docker run --rm --platform linux/arm/v7 --volume "$(pwd):/app" --workdir "/app" --user 1000:1000 \
                node:lts sh -c \
                "./node_modules/.bin/caxa --input build/ --output igir -- \"{{caxa}}/node_modules/.bin/node\" \"{{caxa}}/index.js\" && ./igir --help"
              tar cvf - igir | gzip --best > "${BIN_OUTPUT}"
    steps:
      # Setup and install
      - uses: actions/checkout@v3
      - if: matrix.os == 'ubuntu-latest'
        uses: docker/setup-qemu-action@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      # Compile and upload
      - run: ${{ matrix.build }}
      - if: github.event_name == 'release'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: ${{ env.BIN_OUTPUT }}
          if-no-files-found: error

  release-update:
    if: github.event_name == 'release'
    needs:
      - node-compile
    runs-on: ubuntu-latest
    steps:
      # Get the package version
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: echo "NPM_PKG_VERSION=$(npm pkg get version | sed 's/"//g')" >> $GITHUB_ENV
      # Download and update
      - uses: actions/download-artifact@v3
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.NPM_PKG_VERSION }}
          files: |
            ubuntu/*
            macos/*
            windows/*

  # !!! This check should be required by GitHub !!!
  compile-status-check:
    needs:
      - node-compile
    runs-on: ubuntu-latest
    steps:
      - run: echo ok
