# Requires GitHub Pages publishing branch to be `gh-pages`

name: GitHub Pages

on:
  pull_request:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref (refs/heads/<branch>, refs/tags/<tag>, etc.) or SHA'
        required: true
        type: string
        default: 'refs/heads/main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ref: ${{ inputs.ref || github.ref }}
  cache_version: v2

jobs:
  path-filter:
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.ref }}
      - id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            changes:
              - 'docs/**'
              - '**/*.md'
              - 'mkdocs.yml'

  lint:
    needs:
      - path-filter
    if: ${{ needs.path-filter.outputs.changes == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.ref }}
      # TODO(cemmer): MD060, markdownlint doesn't like the way WebStorm aligns tables
      - run: docker run --rm --volume "${PWD}:/workdir" ghcr.io/igorshubovych/markdownlint-cli:latest --disable MD013 MD033 MD041 MD046 MD060 -- "**/*.md"

  build:
    needs:
      - path-filter
    if: ${{ github.event_name == 'pull_request' && needs.path-filter.outputs.changes == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.ref }}
          # the `git-revision-date-localized` plugin needs full history to find page creation date
          fetch-depth: 0
          sparse-checkout: |
            docs
            # Symlinked paths
            .github/CONTRIBUTING.md
            static
            LICENSE
            README.md
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: mkdocs-${{ env.cache_version }}-${{ env.ref }}
          restore-keys: |
            mkdocs-v2-refs/heads/main
          path: .cache
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - run: |
          pip install --requirement docs/requirements.txt
          sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
      - run: mkdocs build --strict --verbose
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ github.token }}
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: mkdocs-${{ env.cache_version }}-${{ env.ref }}
          path: .cache

  # !!! This check should be required by GitHub !!!
  pages-status-check:
    if: always()
    needs:
      - path-filter
      - lint
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: lint, build

  deploy:
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.ref }}
          # the `git-revision-date-localized` plugin needs full history to find page creation date
          fetch-depth: 0
          sparse-checkout: |
            docs
            # Symlinked paths
            .github/CONTRIBUTING.md
            static
            LICENSE
            README.md
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: mkdocs-${{ env.cache_version }}-${{ env.ref }}
          path: .cache
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - run: |
          pip install --requirement docs/requirements.txt
          sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
      - run: mkdocs gh-deploy --strict --verbose --force
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ github.token }}
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: mkdocs-${{ env.cache_version }}-${{ env.ref }}
          path: .cache
