name: GitHub Label Sync

on:
  pull_request:
    types:
      # - edited  # PR's base branch was changed
      - opened
      - reopened
      - synchronize  # PR's branch was edited (i.e. new commits)
    paths:
      - '.github/**'

  push:
    branches:
      - 'main'

jobs:
  dry-run:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: EndBug/label-sync@v2
        with:
          config-file: .github/labels.yml
          delete-other-labels: true
          dry-run: true
          token: ${{ secrets.GITHUB_TOKEN }}

  # !!! This check should be required by GitHub !!!
  labels-status-check:
    needs:
      - dry-run
    runs-on: ubuntu-latest
    steps:
      - run: echo ok

  sync:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: EndBug/label-sync@v2
        with:
          config-file: .github/labels.yml
          delete-other-labels: true
          token: ${{ secrets.GITHUB_TOKEN }}
