# https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
# Requires repo secret: NPM_TOKEN ("automation" access token)

name: Node.js Publish

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  node-publish:
    permissions:
      # actions/checkout@v4
      contents: read
      # `npm publish --provenance`
      id-token: write
      # thollander/actions-comment-pull-request
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: 'recursive'
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4.2.1
        with:
          registry-url: 'https://registry.npmjs.org'
      - id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> "${GITHUB_OUTPUT}"
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
            ${{ runner.os }}-
      - run: npm ci
      - id: publish
        name: npm publish
        run: |
          set -x
          npm whoami
          npm publish
          {
            echo "PACKAGE_NAME=$(jq --raw-output '.name' package.json)"
            echo "PACKAGE_VERSION=$(jq --raw-output '.version' package.json)"
          } >> "${GITHUB_OUTPUT}"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Comment back on the PR that caused this push
      - id: pr-finder
        run: |
          GIT_SHA=$(git rev-parse HEAD)
          echo "${GIT_SHA}"
          PR_NUMBER=$(gh api \
            "repos/${GITHUB_REPOSITORY}/commits/${GIT_SHA}/pulls" \
            --jq '.[0].number')
          echo "PR_NUMBER=${PR_NUMBER}" >> "${GITHUB_OUTPUT}"
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          message: |
            ## :package: npm publish
            This pull request resulted in the npm release: [v${{ steps.publish.outputs.PACKAGE_VERSION }}](https://www.npmjs.com/package/${{ steps.publish.outputs.PACKAGE_NAME }}/v/${{ steps.publish.outputs.PACKAGE_VERSION }}).

            _Comment generated by the [${{ github.workflow }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}) workflow._
          comment-tag: node-publish
          pr-number: ${{ steps.pr-finder.outputs.PR_NUMBER }}
